---
layout: default
---
{%-comment-%}
	Get the opcode info based from the opcode name, which can be specified in
	frontmatter with the variable `opcode_name`, otherwise from the filename.
	If the file is a symlink, the filename option is OK only for opcode aliases,
	so the opcode alias info can be used instead, otherwise for related ccN opcodes
	we need to use the original opcode info, so this is not an option.
{%-endcomment-%}
{%-if page.opcode_name-%}
	{%-assign opcode_name = page.opcode_name-%}
{%-else-%}
	{%-assign opcode_name = page.name | replace: ".md", ''-%}
{%-endif-%}
{%-assign found = false-%}
{%-for category in site.data.sfz.syntax.categories-%}
	{%-for opcode in category.opcodes-%}
		{%-if opcode.name == opcode_name-%}
			{%-assign found = true-%}
			{%-assign opcode_info = opcode-%}
			{%-assign category_info = category-%}
			{%-assign see_also = site.data.sfz.see_also | where: "name", opcode_name-%}
			{%break%}
		{%-endif-%}
	{%-endfor-%}
	{%-if found == false-%}
		{%-for category_type in category.types-%}
			{%-for opcode in category_type.opcodes-%}
				{%-if opcode.name == opcode_name-%}
					{%-assign opcode_info = opcode-%}
					{%-assign category_info = category-%}
					{%-assign category_type_info = category_type-%}
					{%-assign see_also = site.data.sfz.see_also | where: "name", opcode_name-%}
					{%break%}
				{%-endif-%}
			{%-endfor-%}
		{%-endfor-%}
	{%-endif-%}
{%-endfor-%}
{%-assign value_versions = opcode_info.version-%}
{%-if opcode_info.value.min == nil-%}
	{%-if opcode_info.value.options-%}
		{%-for option in opcode_info.value.options-%}
			{%-if option.version-%}
				{%-unless value_versions contains option.version-%}
					{%-assign value_versions = value_versions | append: ','
						| append: option.version-%}
				{%-endunless-%}
			{%-endif-%}
		{%-endfor-%}
		{%-assign value_versions = value_versions | split: ','-%}
	{%-else-%}
		{%-assign opcode_info_range = "N/A"-%}
	{%-endif-%}
{%-else-%}
	{%-assign opcode_info_range =
		opcode_info.value.min | append: " to " | append: opcode_info.value.max-%}
{%-endif-%}
{%-if opcode_info.value.default == nil-%}
		{%-assign opcode_info_default = "N/A"-%}
{%-else-%}
		{%-assign opcode_info_default = opcode_info.value.default-%}
{%-endif-%}

<p>{{ opcode_info.short_description }}</p>

{{ content }}

<table class="table table-sm table-bordered table-hover table-striped table-responsive-xl">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Version</th>
			<th scope="col">Type</th>
			<th scope="col">Default</th>
			<th scope="col">Range</th>
			<th scope="col">Unit</th>
		</tr>
	</thead>
	<tbody>
{%-if opcode_info_range-%}
		<tr>
			<td>{{ opcode_info.name }}</td>
			<td>{{ opcode_info.version }}</td>
			<td>{{ opcode_info.value.type_name }}</td>
			<td>{{ opcode_info_default }}</td>
			<td>{{ opcode_info_range }}</td>
			<td>{{ opcode_info.value.unit }}</td>
		</tr>
{%-elsif opcode_info.value.options-%}
	{%-for value_version in value_versions-%}
		{%-assign version_options = nil-%}
		{%-for option in opcode_info.value.options-%}
			{%-if option.version-%}
				{%-assign option_version = option.version-%}
			{%-else-%}
				{%-assign option_version = opcode_info.version-%}
			{%-endif-%}
			{%-if option_version == value_version-%}
				{%-assign version_options = version_options | append: option.name | append: ", "-%}
			{%-endif-%}
		{%-endfor-%}
		{%-assign size = version_options | size | minus: 2-%}
		{%-assign version_options = version_options | slice: 0, size-%}
		{%-if forloop.first-%}
		<tr>
			<td>{{ opcode_info.name }}</td>
			<td>{{ opcode_info.version }}</td>
			<td>{{ opcode_info.value.type_name }}</td>
			<td>{{ opcode_info_default }}</td>
			<td>{{ version_options }}</td>
		</tr>
		{%-else-%}
		<tr>
			<td></td>
			<td>{{ value_version }}</td>
			<td></td>
			<td></td>
			<td>{{ version_options }}</td>
		</tr>
		{%-endif-%}
	{%-endfor-%}
{%-endif-%}
{%-for midi_cc in opcode_info.modulation.midi_cc-%}
	{%-if midi_cc.value.default != nil-%}
		{%-assign midi_cc_default = midi_cc.value.default-%}
	{%-else-%}
		{%-assign midi_cc_default = "N/A"-%}
	{%-endif-%}
	{%-if midi_cc.value.min != nil-%}
		{%-assign midi_cc_range = midi_cc.value.min | append: " to " |
			append: midi_cc.value.max-%}
	{%-else-%}
		{%-assign midi_cc_range = "N/A"-%}
	{%-endif-%}
		<tr>
			<td>{{ midi_cc.name }}</td>
			<td>{{ midi_cc.version }}</td>
			<td>{{ midi_cc.value.type_name }}</td>
			<td>{{ midi_cc_default }}</td>
			<td>{{ midi_cc_range }}</td>
			<td>{{ midi_cc.value.unit }}</td>
		</tr>
{%-endfor-%}
{%-for velocity in opcode_info.modulation.velocity-%}
	{%-if velocity.value.default != nil-%}
		{%-assign velocity_default = velocity.value.default-%}
	{%-else-%}
		{%-assign velocity_default = "N/A"-%}
	{%-endif-%}
	{%-if velocity.value.min != nil-%}
		{%-assign velocity_range = velocity.value.min | append: " to " |
			append: velocity.value.max-%}
	{%-else-%}
		{%-assign velocity_range = "N/A"-%}
	{%-endif-%}
	<tr>
		<td>{{ velocity.name }}</td>
		<td>{{ velocity.version }}</td>
		<td>{{ velocity.value.type_name }}</td>
		<td>{{ velocity_default }}</td>
		<td>{{ velocity_range }}</td>
		<td>{{ velocity.value.unit }}</td>
	</tr>
{%-endfor-%}
		</tbody>
</table>

{%-if opcode_info.modulation-%}
	<h2>Modulation Sources</h2>
	{%-assign envelope = opcode_info.modulation.envelope-%}
	{%-assign lfo = opcode_info.modulation.lfo-%}
	{%-if envelope == nil-%}
		{%-assign envelope = 'X'-%}
	{%-endif-%}
	{%-if lfo == nil-%}
		{%-assign lfo = 'X'-%}
	{%-endif-%}
	<ul>
		<li>Envelope: {{ envelope }}</li>
		<li>LFO: {{ lfo }}</li>
		<li>MIDI CC:</li>
		<ul>
	{%-for midi_cc in opcode_info.modulation.midi_cc-%}
		{%-if midi_cc.version-%}
			{%-assign midi_cc_name = midi_cc.name |
				append: " (" | append: midi_cc.version	| append: ')'-%}
		{%-else-%}
			{%-assign midi_cc_name = midi_cc.name-%}
		{%-endif-%}
<li>
		{%-for alias in midi_cc.alias-%}
			{%-assign midi_cc_name = midi_cc_name | append: ", alias " | append: alias.name-%}
			{%-if alias.version-%}
				{%-assign midi_cc_name = midi_cc_name | append: " (" |
					append: alias.version | append: ')'-%}
			{%-endif-%}
		{%-endfor-%}
	{{ midi_cc_name }}
</li>
	{%-endfor-%}
		</ul>
	{%-if opcode_info.modulation.velocity != nil-%}
		<li>Velocity:</li>
		<ul>
			{%-for velocity in opcode_info.modulation.velocity-%}
				{%-assign velocity_name = velocity.name |
					append: " (" | append: velocity.version	| append: ')'-%}
		<li>
				{%-for alias in velocity.alias-%}
					{%-assign velocity_name = velocity_name | append: ", alias " |
						append: alias.name-%}
					{%-if alias.version-%}
						{%-assign midi_cc_name = midi_cc_name | append: " (" |
							append: alias.version | append: ')'-%}
					{%-endif-%}
				{%-endfor-%}
			{{ velocity_name }}
		</li>
			{%-endfor-%}
		</ul>
	{%-endif-%}
	</ul>
{%-endif-%}

{%-if see_also.size > 0-%}
	{%-for opcode_ref in see_also[0].pages-%}
		{%-if see_also_list != nil-%}
			{%-assign see_also_list = see_also_list | append: ", "-%}
		{%-endif-%}
		{%if opcode_ref.url != nil%}
			{%-assign opcode_ref_url = opcode_ref.url-%}
		{%-else-%}
			{%-assign opcode_ref_url = "opcodes/" | append: opcode_ref.name | relative_url-%}
		{%-endif-%}
		{%-assign see_also_list = see_also_list | append: "<a href='" |
			append: opcode_ref_url | append: "'>" | append: opcode_ref.name | append: "</a>"-%}
	{%-endfor-%}
	<p>See also: {{ see_also_list }}</p>
{%-endif-%}

{%-if category_info.url != nil-%}
	{%-assign category_url = "<a href='" | append: category_info.url |
		append: "'>" | append: category_info.name | append: "</a>"-%}
{%else%}
	{%-assign category_url = category_info.name-%}
{%-endif-%}

{%-if category_type_info.url != nil-%}
	{%-assign category_type_url = "<a href='" | append: category_type_info.url |
		append: "'>" | append: category_type_info.name  | append: "</a>"-%}
{%else%}
	{%-assign category_type_url = category_type_info.name-%}
{%-endif-%}

{%-if category_type_url != nil-%}
	{%-assign category_url = category_url | append: ", " | append: category_type_url-%}
{%-endif-%}

<p>Category: {{ category_url }}</p>
