	{%-if include.opcode.deprecated == nil %}
		<tr>
{%comment%} Category {%endcomment%}
			<td class="{{ include.category.id }}"><span style="display:none">{{ include.category.name }}</span></td>
{%comment%} Opcode {%endcomment%}
			<td>{%-include sfz/functions/getOpcodeUrlAsHtml.liquid opcode=include.opcode-%}</td>
{%comment%} Version {%endcomment%}
		{%-if include.opcode.version-%}
			{%-assign opcode_version = include.opcode.version-%}
		{%-elsif include.parent.version-%}
			{%-assign opcode_version = include.parent.version-%}
		{%-else-%}
			{%-assign opcode_version = toplevel_opcode.version-%}
		{%-endif-%}
		<td style="text-align:center">{{ opcode_version }}</td>
{%comment%} Supported {%endcomment%}
		{%-assign aria_opcode = site.data.sfz.aria.opcodes
			| where: "name", include.opcode.name | first-%}
		{%-if aria_opcode == nil or aria_opcode.support == 'x'-%}
			{%-capture opcode_support-%}
				<span style="color:darkred">X</span>
			{%-endcapture-%}
		{%-elsif aria_opcode.support == "wip"-%}
			{%-assign opcode_support = "🚧"-%}
		{%-else-%}
			{%-capture opcode_support-%}
				<span style="color:darkolivegreen">✓</span>
			{%-endcapture-%}
		{%-endif-%}
			<td style="text-align:center">{{ opcode_support }}</td>
{%comment%} Comment {%endcomment%}
		{%-if aria_opcode.comment-%}
			{%-assign opcode_comment = aria_opcode.comment-%}
		{%-elsif include.type == "alias"-%}
			{%capture opcode_comment%}
				{% include sfz/functions/getOpcodeUrlAsHtml.liquid opcode=include.parent %} alias.
			{%-endcapture-%}
		{%-else-%}
			{%-assign opcode_comment = ''-%}
		{%-endif-%}
			<td style="text-align:center">{{ opcode_comment }}</td>
		</tr>
{%comment%} Rescan recursively {%endcomment%}
		{%-for alias in include.opcode.alias-%}
			{% include aria/addOpcodeToTable.liquid
				category = include.category
				parent   = include.opcode
				opcode   = alias
				type     = "alias" %}
		{%-endfor-%}
		{%-for midi_cc in include.opcode.modulation.midi_cc-%}
			{% include aria/addOpcodeToTable.liquid
				category = include.category
				parent   = include.opcode
				opcode   = midi_cc
				type     = "midi_cc" %}
		{%-endfor-%}
		{%-for velocity_cc in include.opcode.modulation.velocity-%}
			{% include aria/addOpcodeToTable.liquid
				category = include.category
				parent   = include.opcode
				opcode   = velocity_cc %}
		{%-endfor-%}
	{%-endif-%}
