{%-assign opcode_value_default = "N/A"-%}
		<tr>
		{%-if include.opcode.deprecated-%}
			{%- assign td = "<td class='table-danger'>"-%}
		{%-else-%}
			{%- assign td = "<td>"-%}
		{%-endif-%}
			<td class="{{ include.category.id }}"><span style="display:none">{{ include.category.name }}</span></td>
			{{ td }}{%-include sfz/functions/getOpcodeUrlAsHtml.liquid opcode=include.opcode-%}</td>
		{%-if include.type == "alias"-%}
			<td>{% include sfz/functions/getOpcodeUrlAsHtml.liquid opcode=include.parent %} alias.</td>
			<td>{{ include.parent.value.type_name }}</td>
			{%-if include.parent.value.default-%}
				{%-assign opcode_value_default = include.parent.value.default-%}
			{%-endif-%}
			<td>{{ opcode_value_default }}</td>
			<td>{%-include sfz/functions/getOpcodeRangeAsString.liquid opcode=include.parent-%}</td>
		{%-else-%}
			<td>{{ include.opcode.short_description }}</td>
			<td>{{ include.opcode.value.type_name }}</td>
			{%-if include.opcode.value.default-%}
				{%-assign opcode_value_default = include.opcode.value.default-%}
			{%-endif-%}
			<td>{{ opcode_value_default }}</td>
			<td>{%-include sfz/functions/getOpcodeRangeAsString.liquid opcode=include.opcode-%}</td>
		{%-endif-%}
		{%-if include.opcode.version-%}
			<td>{{ include.opcode.version }}</td>
		{%-elsif include.parent.version-%}
			<td>{{ include.parent.version }}</td>
		{%-else-%}
			<td>{{ toplevel_opcode.version }}</td>
		{%-endif-%}
		</tr>
		{%-for alias in include.opcode.alias-%}
			{% include sfz/functions/processOpcode.liquid
				category = include.category
				parent   = include.opcode
				opcode   = alias
				type     = "alias" %}
		{%-endfor-%}
		{%-for midi_cc in include.opcode.modulation.midi_cc-%}
			{% include sfz/functions/processOpcode.liquid
				category = include.category
				parent   = include.opcode
				opcode   = midi_cc
				type     = "midi_cc" %}
		{%-endfor-%}
		{%-for velocity_cc in include.opcode.modulation.velocity-%}
			{% include sfz/functions/processOpcode.liquid
				category = include.category
				parent   = include.opcode
				opcode   = velocity_cc %}
		{%-endfor-%}
